#!/usr/bin/env python
#-*- coding: utf-8 -*-

# File name to strore index DB.
IDX_FILENAME = "index.sqlite"
# Search server port.
# The '?orgId=<GUID>' param expected, where <GUID> is the string uesd in UUID.uuid(string) constructor.
IDX_WEBSERVER_PORT = 8092
# File URI with 'kanso://' namespace used to build index
KANSO_FILENAME = "kanso://127.0.0.1/pfr/test/transactions"
KANSO_FILENAME2 = "kanso://127.0.0.1/pfr/test/transactions2"
# Each time KANSO_FILENAME EOF reached we'll wait for KANSO_READ_UPDATES_DELAY secs
KANSO_READ_UPDATES_DELAY = 60 # in secs
# Index commited each time KANSO_FILENAME EOF reached and each IDX_ITEMS_PER_COMMIT.
IDX_ITEMS_PER_COMMIT = 50000
KANSO_MASTER_DEFAULT_PORT = 22222
IDX_DB_BUSY_DELAY = 0.5 # in secs
IDX_TRIALS = 3
IDX_SNAPSHOT_PERIOD = 2*60*60 # in secs
IDX_SNAPSHOT_MAX = 3

import logging.config
logging.config.fileConfig('log.conf')

DEBUG = True
from sys import stderr
def d_print(message):
    if DEBUG: print >> stderr, message
