/* layout */
body {margin:0; padding:0;}
#head {padding-left:20px; padding-bottom:10px; padding-top:10px}
#tabs {padding-left:20px; padding-top:12px}
#dcs {padding-top:20px; margin-left:20px}
#dcs th {padding-bottom:3px; padding-left:20px}
#dcs td {padding:7px 0; padding-left:20px}
#pages {padding:20px 22px}
#pages strong {padding-left:18px}
#pages a {padding:0 5px}

/* look & feel */
body {font:13px Tahoma, sans-serif;}
a, a:link, a:hover, a:visited {color:#214fa7;}
#head {background-color:#485577; color:#fff}
#head a {color:#fff}
#tabs {background-color:#ededed}
#dcs th {color:#aaaaaa; text-align:left; font-weight:normal; font-size:13px}
#dcs td.status {font-size:11px; white-space:nowrap}
#dcs span.acc {color:green}
#dcs span.rej {color:red}
#dcs tbody tr:hover {background-color: #ebf0f6; cursor:hand}
#pages {font-size:90%}
#pages .no {color:#aaaaaa}
