.main-tabs {padding-top:7px; padding-left:8px; background:#ebecef}
.main-tabs table {border-collapse:collapse;}
.main-tabs td {padding:0;}
.main-tabs .tab
{
	padding:5px 20px;
	background:url(tab-bg.png) bottom repeat-x;
	border-top:solid 1px #ebebeb;
	border-left:solid 1px #e5e5e5;
}
.main-tabs .active {background:#fff !important}
.main-tabs td.right s
{
	display:block;
	width:7px;
	height:32px;
/*	position:relative;*/
	margin-right:-7px;
	/*top:0;*/
	background:url(main-tab-sh-r.png) 0 0 no-repeat;
}
.main-tabs td.active s
{
	display:block;
	width:7px;
	height:32px;
/*	position:relative;*/
	margin-right:-7px;
/*	top:0;*/
	background:url(main-tab-sh-r.png) 0 0 no-repeat;
}
